<?xml version="1.0"?>
<launch>
  <include file="$(find bebop_vel_ctrl)/launch/bebop_vel_ctrl.launch">
    <arg name="output_topic" value="bebop/cmd_vel"/>
  </include>

  <!-- teleop node -->
  <remap from="/bebop/vservo/cmd_vel" to="/vservo/cmd_vel"/>
  <include file="$(find bebop_tools)/launch/joy_teleop.launch">
    <arg name="teleop_config" value="$(find bebop_vel_ctrl)/config/log710_metric.yaml"/>
  </include>
</launch>
