<?xml version="1.0"?>
<launch>
  <arg name="plotxy" default="false" />
  <arg name="plotyaw" default="false" />
  <arg name="plotz" default="false" />

  <include file="$(find bebop_vel_ctrl)/launch/bebop_vel_ctrl.launch">
    <arg name="output_topic" value="bebop/cmd_vel"/>
    <arg name="plotxy" value="$(arg plotxy)" />
    <arg name="plotyaw" value="$(arg plotyaw)" />
    <arg name="plotz" value="$(arg plotz)" />
  </include>

  <!-- teleop node -->
  <remap from="/bebop/cmd_vel" to="/vservo/cmd_vel"/>
  <include file="$(find bebop_tools)/launch/joy_teleop.launch">
    <arg name="teleop_config" value="$(find bebop_vel_ctrl)/config/log710_metric.yaml"/>
  </include>
</launch>
